<div class="content_container">
    <div class="page">
        <h1>Create new Article</h1>

        <%= render partial: "form" %>
    </div>

    <div class= "side">
            <div class="links">
                <%= link_to "Back", articles_path, class: "back" %>
            </div>
    </div>
</div>
