* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content-container {
    /* border: 1px solid red; */
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    padding: 50px;
}

.buttons-container {
    width: 100%;
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
}

input {
    margin-bottom: 13px;
    padding-left: 46px;
    margin-top: 17px;
    border-radius: 34px;
    font-size: 16px;
    border: 1px solid rgb(223, 220, 220);
    width: 550px;
    height: 44px;
    background-image: url('images/m-glass-icon.png');
    background-position: 14px 3px;
    background-repeat: no-repeat;
    background-size: 30px;
    font-weight: 350;
}

input:hover {
    box-shadow: 0 0 3px #ccc;
}

input:focus {
    outline: none;
}

button {
    padding: 9px 15px 9px 15px;
    margin: 13px;
    background-color: #F5F5F5; 
    border: 1.5px solid #F5F5F5;
    border-radius: 5px;
    color: #5F6369;
    font-size: 14px;
    font-weight: 420;
}

button:hover {
    cursor: pointer;
    border: 1.5px solid rgb(218, 218, 218);
    color: rgb(26, 25, 25);
}

.logo img {
    width: 272px;
    height: 92px;
}


.footer-container {
    /* border: 1px solid red; */
    height: 23vh;
    display: flex;
    align-items: flex-end;
}

.footer {
    background-color: #F5F5F5;
    width: 100%;

    padding: 11px;
    display: flex;
    justify-content: space-between;
    border-top: 0.5px solid rgb(201, 199, 199);
}

.left-container,
.rigth-container {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.left-container a {
    margin-left: 26px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #5F6369;
    font-family: sans-serif;
    font-weight: 420;
    font-size: 13px;
}

.left-container a:hover {
    text-decoration: underline;
}

.left-container a:first-of-type {
    margin-left: 24px;
}

.rigth-container a {
    margin-left: 26px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #5F6369;
    font-family: sans-serif;
    font-weight: 420;
    font-size: 13px;
}

.header-container {
    width: 100%;
    height: 7vh;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-rigth-container,
.header-left-container {
    /* border: 1px solid red; */
    list-style: none;
    align-items: center;
}

.apps-icon img {
    width: 30px;
    margin: 13px;
}

.apps-icon {
    /* border: 1px solid red; */
    margin-top: 6px;
}

.account-icon img{
    width: 42px;
    margin-right: 13px;
}

.account-icon {
    margin-top: 2px;
    margin-right: 13px;
}

.header-left-container a,
.header-rigth-container a {
    margin-left: 26px;
    padding-bottom: 3px;
    text-decoration: none;
    color: #5F6369;
    font-family: sans-serif;
    font-weight: 420;
    font-size: 13px;
}

.header-left-container a:hover,
.header-rigth-container a:hover {
    text-decoration: underline;
}

.header-left-container a:first-of-type {
    margin-left: 24px;
}

.header-left-container,
.header-rigth-container {
    display: flex;
    flex-direction: row;
    list-style: none;
}
